<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094849858797-3e4b01rk7rh996bps2s6hjngtoqb63r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094849858797-3e4b01rk7rh996bps2s6hjngtoqb63r9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094849858797-4qe27unjotr2vgo9hspot83ubndh1uhh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCp_wDUzLRuaPLrzPmqZ0ThBGKfmZ6GGI0</string>
	<key>GCM_SENDER_ID</key>
	<string>1094849858797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>pardfifth</string>
	<key>STORAGE_BUCKET</key>
	<string>pardfifth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094849858797:ios:a962b73bb17b2deef050e4</string>
	<key>SERVER_CLIENT_ID</key>
	<string>app-1-1094849858797-ios-a962b73bb17b2deef050e4</string>
</dict>
</plist>